  <!-- Navigation -->
<div class="bg-white shadow-md px-12 py-2 flex justify-between items-center">
  <div class="text-2xl font-bold text-black-600">
    <span class="flex items-center space-x-2">
      <span>ServiceHub</span>
    </span>
  </div>
  <div class="flex space-x-11 text-xl font-semibold text-gray-800">
    <a routerLink="/" class="hover:text-blue-600">Home</a>
    <a routerLink="/services" class="hover:text-blue-600">Services</a>
    <a routerLink="/provider" class="hover:text-blue-600">Providers</a>
    <a routerLink="/about" class="hover:text-blue-600">About</a>
    <a routerLink="/contact" class="hover:text-blue-600">Contact</a>
  </div>
  <div class="space-x-2 text-lg font-semibold">
    <button class="w-32 md:w-35 text-lg px-5 py-3 text-gray-800 border rounded-md hover:bg-gray-100 ">Sign In</button>
    <button class="w-32 md:w-35 text-lg  px-4 py-3  bg-blue-600 text-white rounded-md hover:bg-blue-700">Get Started</button>
  </div>
</div>
  
  <p-card header="About Us" styleClass="mb-4">
      <p>
        Welcome to our About page! We use PrimeNG components to make UI beautiful and consistent.
        Our mission is to provide high-quality software solutions with great user experience.
      </p>
      <p-footer>
        <button pButton type="button" label="Learn More" icon="pi pi-info-circle" class="p-button-text"></button>
      </p-footer>
    </p-card>